<div class="main-page-container">
  <section>
    <img src="images/QR.png" alt="QR code" />
  </section>
  <section>
    <h1>Welcome to The Safe Store!</h1>
    <p>Please scan the following code with your phone and open the link to start your shopping experience</p>
    <p>You just need to be logged into Facebook and tap <b>Get Started</b>!</p>
  </section>
</div>